.navegador{
  margin-top: 10px;
  width: 60%;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.inicio{
  display: flex;  
  
}
li{
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgb(215, 146, 61);
  border-radius: 5px;
}
.navegador .inicio a:visited {
  color:  rgb(41, 84, 58);
}