.contenedor-presentacion{
   margin-top: 70px;
   margin-left: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  
  .imagen-yo{
    width: 300px;
    margin: 20px ;
    border-radius: 5px;

  }

  .mi-nombre {
    
    animation: scrollRight 5s ease; /* 10 segundos de duración, puedes ajustar este valor */
  }
  
  @keyframes scrollRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .tit{
    display: flex;    
    font-style: italic;  
    font-size:250%;  
    color: rgb(245, 176, 74); 
  }