.boton-contenedor{
  height: 80%;
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  background-color: #070707;
  color: white;
  border-radius: 10px;
  border: 4px solid #df9e2d;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover{
  background-color: #7d2b37fc;
}

.operador{
background-color: #f79f06;
}

.operador:hover{
  background-color: #ff6600;
}
.igual{
  width: 90%;
  height: 15%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5d5959;
 
}
